# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [2]:
dataset= "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

### Step 3. Assign it to a variable called users.

In [3]:
 
users = pd.read_csv(dataset, delimiter='|')

### Step 4. Discover what is the mean age per occupation

In [4]:
mean_of_age = users.groupby('occupation')['age'].mean()
print(mean_of_age)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [5]:
def male_ratio(group):
    return (group['gender'] == 'M').mean()

male_ratio = users.groupby('occupation').apply(male_ratio).sort_values(ascending=False)
print(male_ratio)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [6]:
age_stats = users.groupby('occupation')['age'].agg(['min', 'max'])
print(age_stats)

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [7]:
mean_age = users.groupby(['occupation', 'gender'])['age'].mean()
print(mean_age)

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [8]:
total = users.groupby('occupation')['gender'].count()
gender = users.groupby(['occupation', 'gender']).size()

occupation_gender_percentages = (gender / total) * 100
occupation_gender_percentages = occupation_gender_percentages.unstack()
occupation_gender_percentages.rename(columns={'F': 'Percentage of Female', 'M': 'Percentage of Male'}, inplace=True)

print(occupation_gender_percentages)

gender         Percentage of Female  Percentage of Male
occupation
administrator             45.569620           54.430380
artist                    46.428571           53.571429
doctor                          NaN          100.000000
educator                  27.368421           72.631579
engineer                   2.985075           97.014925
entertainment             11.111111           88.888889
executive                  9.375000           90.625000
healthcare                68.750000           31.250000
homemaker                 85.714286           14.285714
lawyer                    16.666667           83.333333
librarian                 56.862745           43.137255
marketing                 38.461538           61.538462
none                      44.444444           55.555556
other                     34.285714           65.714286
programmer                 9.090909           90.909091
retired                    7.142857           92.857143
salesman                  25.000000           75.000000
scientist                  9.677419           90.322581
student                   30.612245           69.387755
technician                 3.703704           96.296296
writer                    42.222222           57.777778